.codedata-container {
    height: auto;
    // height: 20rem;
    width: 100%;
    // background-color: #303030;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem 0 #ddd;

    .code-data-th1 {
        display: flex;
        border-bottom: 2px solid #ccc;

        .code-data-th2 {
            min-width: 14rem;
            padding: 0.5rem 1rem;
        }
    }    
    
    .code-data-td1 {
        // background-color: orange;
        
        .code-data-td2 {
            display: flex;
            
            .code-data-td3 {
                min-width: 14rem;
                padding: 0.5rem 1rem;
                cursor: default;
                &:hover {background-color: #ddd;}
                
            }

            &:nth-child(even) {
                background-color: antiquewhite;
            }
        }
    }
}

.codedata-container2-null {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #bbb;
    box-shadow: 0.1rem 0.1rem 1rem 0 #ddd;
}