.elements-container {
    height: auto;
    width: 100%;

    .ele-top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30rem;
        margin: 1rem 0;
    }

    .ele-bottom-container {
        height: auto;
        width: 100%;
    }
}