.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 3.5rem;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #26C0E2;
    z-index: 10;

    .header-left {
        display: flex;
        align-items: center;

        .header-menu {
            padding: 0.3rem;
            cursor: pointer;
            &:hover {
                background-color: #1fabcb;
            }
        }
        
        .header-logo {
            height: 2rem;
            margin: 0.2rem 0 0 1.25rem;
            cursor: pointer;
        }
    }

    .header-right {
        height: auto;
        width: 10rem;
        font-family: lato;
        cursor: pointer;
        
        .header-name {
            color: #3A3737;
        }
        
        .header-title {
            font-size: 0.85rem;
            color: #5b5b5b;
        }
    }
}