.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #26C0E2;

    .header-left {
        display: flex;
        align-items: center;

        .header-menu {
            padding: 0.3rem;
            cursor: pointer;
            &:hover {
                background-color: #1fabcb;
            }
        }
        
        .header-logo {
            height: 2.25rem;
            margin: 0.2rem 0 0 1.25rem;
            cursor: pointer;
        }
    }

    .header-right {
        height: auto;
        width: 11.5rem;
        font-family: nunito;
        cursor: pointer;
        
        .header-name {
            color: #3A3737;
            font-weight: 600;
        }
        
        .header-title {
            color: #5b5b5b;
        }
    }
}