@font-face {
  font-family: roboto;
  src: url('./assets/fonts/RobotoCondensed_400Regular.ttf');
}
@font-face {
  font-family: latoR;
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: latoB;
  src: url('./assets/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: nunito;
  src: url('./assets/fonts/NunitoSans-Regular.ttf');
}
@font-face {
  font-family: opensans;
  src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  background-color: #f7f9fb;
  /* background-color: #4a4a4a;
  color: #fff; */
}

* {
  box-sizing: border-box;
}