.group-container {
    height: max-content;
    font-family: opensans;
    padding: 0.5rem 0;

    .group-links {
        display: flex;
        // align-items: center;
        // width: 50%;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        padding: 0.5rem 0 0.5rem 1rem;
        text-decoration: none;
        color: #000;
        cursor: pointer;

        img {
            margin-right: 0.25rem;
        }

        &:hover {
            background-color: #eee;
        }
    }
}